<%= link_to 'Neues Ziel', new_user_goal_path(@user), class: 'btn btn-primary btn-lg' %><br /><br />

<h1>Meine Ziele</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Start</th>
      <th>Ziel</th>
      <th style="width: 100px; text-align: center;" nowrap></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <% milestone = goal.first_milestone %>
      <tr>
        <td><%= link_to goal.to_s, edit_user_goal_path(@user, goal) %></td>
        <td><%= "#{milestone.value}" if milestone %></td>
        <td><%= goal.value %></td>
        <td nowrap>
          <%= link_to 'Start', user_goal_starting_point_path(@user, goal), class: 'btn btn-primary' %>
          <%= link_to [@user, goal], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
