<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if current_user %>

          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_url %></li>
            <li><%= link_to 'Meilensteine', user_milestones_url(current_user) %></li>
            <li><%= link_to 'Meine Aktivitäten', user_activities_url(current_user) %></li>
            <li><%= link_to 'Meine Ziele', user_goals_url(current_user) %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>

        <% else %>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'Registrieren', signup_path %></li>
          </ul>

        <% end %>

      </div><!-- /.navbar-collapse -->



  </div><!-- /.container -->
</nav>